* {
    text-align: center;
    color: #2c4acf;
    }

.header {
  color: #9ea9d8;
}
p.solid {
    border: solid;
}
  table, th, td {
    border: 1px solid #ffffff;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #b9b6b6;
  }